# AWS Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=us-east-1

# S3 Configuration (Single Bucket with Subfolders/Prefixes)
S3_BUCKET=e-commerce-multi-channel-dhananjay99
S3_RAW_PREFIX=raw-landing
S3_CURATED_PREFIX=curated
S3_QUARANTINE_PREFIX=bad-records

# Local MySQL Configuration (Operational Database)
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_DATABASE=ecommerce_db
MYSQL_USER=ecommerce_user
MYSQL_PASSWORD=ecommerce_password
MYSQL_ROOT_PASSWORD=ecommerce_root_password

# Snowflake Configuration
SNOWFLAKE_ACCOUNT=your_snowflake_account_identifier
SNOWFLAKE_USER=your_snowflake_user
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_WAREHOUSE=ECOMMERCE_WH
SNOWFLAKE_DATABASE=ECOMMERCE_DW
SNOWFLAKE_SCHEMA=PUBLIC

# Marketplace API Endpoint (Exposed by AWS Lambda/API Gateway)
MARKETPLACE_API_URL=https://your-api-gateway-endpoint.amazonaws.com/prod

# Airflow Specific Configurations
AIRFLOW_UID=50000
FERNET_KEY=7V6Z6j4Y-L3Fz0n7vJtWc9dE-8bE-H3v5D-TfU1bW4w=
